#list-actions {
    justify-content: center;
    display: flex;
}

#btn-create {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#btn-log-out {
    position: absolute;
    right: 10px;
    top: 10px;
}