mat-card {
    margin: 20px;
}

mat-form-field, mat-select {
    width: 100%;
}

mat-card-title {
    font-size: larger;
}

mat-slider {
    width: 100%;
}

#btn-delete {
    background: #3f51b5;
    color: red;
    position: absolute;
    top: 0;
    right: 20px;
}

#save {
    background-color: rebeccapurple;
}

@media screen and (min-width: 768px) {
    form {
        width: 700px;
    }
}