<form>
  <mat-card>
    <mat-card-title>
      Log in to Cafe-notes
    </mat-card-title>
    <mat-form-field>
        <input matInput placeholder="Email" type="text"
          name="email" [(ngModel)]="user.email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Display Name" type="name" 
        name="text" [(ngModel)]="user.displayName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" 
        name="password" [(ngModel)]="user.password">
    </mat-form-field>
  </mat-card>
  <mat-card>
    <button mat-raised-button color="accent" (click)="login(user)">Log in</button>
  </mat-card>
</form>