mat-form-field, button, a {
    width: 100%;
}

#lock {
    text-align: center;
}

mat-icon {
    font-size: 40px;
}

button {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    form {
        width: 700px;
    }
}
